{% extends 'index.html' %}

{% block masthead %}
{% endblock %}

{% block daily_entires %}
{% endblock %}

{% block title %}
    <h1>Index</h1>
    <h1>Hello World!</h1>
    <h2>Welcome to FlaskApp!</h2>
    <h3>{{ utc_dt }}</h3>
{% endblock %}

{% block add_entry %}
<!-- Add Entry Section-->
    <br></br>
    <section class="page-section" id="add-entry">
        <div class="container">
            <!-- Add Entry Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Add an Entry</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Add Entry Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->

          

                        <form action="{{ url_for('add_todo') }}" method="POST" role="form">

                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input name="add-date" class="form-control" id="date" type="text" placeholder="Enter a date..." data-sb-validations="required" />
                            <label for="date">Date</label>
                            <div class="invalid-feedback" data-sb-feedback="date:required">A date is required.</div>

                        </div>
                       


                        <!-- Time input-->
                        <div class="form-floating mb-3">
                            <input name="add-time" class="form-control" id="time" type="text" placeholder="Enter the start time..." data-sb-validations="required" />
                            <label for="symptom">Starting time of symptom</label>
                            <div class="invalid-feedback" data-sb-feedback="time:required">A time is required.</div>
                            <!-- <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div> -->
                        </div>
                        <!-- Symptom input-->
                        <div class="form-floating mb-3">
                            <input name="add-symptom" class="form-control" id="symptom" type="text" placeholder="Enter your symptom..." data-sb-validations="required" />
                            <label for="symptom">Symptom</label>
                            <div class="invalid-feedback" data-sb-feedback="symptom:required">A symptom is required.</div>
                        </div>
                        <!-- Rating input-->
                        <div class="form-floating mb-3">
                            <input name="add-rating" class="form-control" id="symptom" type="text" placeholder="Enter your symptom..." data-sb-validations="required" />
                            <label for="rating">How do you feel on a scale from 1 to 10?</label>
                            <div class="invalid-feedback" data-sb-feedback="rating:required">A rating is required.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Entry addition successful!</div>
                                <!-- To activate this form, sign up at -->
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error adding entry!</div></div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}