{% extends 'index.html' %}

{% block masthead %}
{% endblock %}

{% block daily_entires %}
{% endblock %}

{% block add_entry %}
<!-- Suggestions Section-->
    <br></br>
    <section class="page-section" id="add-entry">
        <div class="container">
            <!-- Suggestions Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Suggestions</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="card">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">What Causes Headaches on the Right Side of Your Head?</h5>
                  <p class="card-text">There are many types of headaches, but only certain types will be felt on just the right side of your head...</p>
                  <a href="#" class="btn btn-primary">https://www.healthline.com/health/headache-right-side#:~:text=Migraine%20headaches,severe%20throbbing%20or%20pulsating%20sensation.</a>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">What does a right-sided headache mean?</h5>
                  <p class="card-text">Many people experience headaches on the right side of their head only. There are many possible causes...</p>
                  <a href="#" class="btn btn-primary">https://www.medicalnewstoday.com/articles/321513</a>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Headaches with Light Sensitivity: Types, Risk Factors, and Treatments</h5>
                  <p class="card-text">Light sensitivity, also known as photophobia, may be among the most common symptoms... </p>
                  <a href="#" class="btn btn-primary">https://www.theraspecs.com/blog/headaches-light-sensitivity-types-risks-treatments/</a>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <br>
        </div>
    </section>
{% endblock %}