{% extends 'index.html' %}

{% block masthead %}
{% endblock %}

{% block daily_entires %}
{% endblock %}

{% block title %}
    <h1>Index</h1>
    <h1>Hello World!</h1>
    <h2>Welcome to FlaskApp!</h2>
    <h3>{{ utc_dt }}</h3>
{% endblock %}

{% block your_history %}
<!-- Your History Section-->
    <br><br>
    <section class="page-section your-history" id="your-history">
        <div class="container">
            <!-- Your History Section Heading-->
            
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Your History</h2><br><br>

            <ul class="list-group t20">
                    
                {% for entry in entries %}
            
                    <li class="list-group-item ">
                        <h4 class="text-uppercase mb-4">{{ entry.date }}</h4>
                        <p class="lead">
                        Starting time of symptom: 
                        </p>
                        {{ entry.time }}
                        <br><br>
                        <p class="lead">
                        Symptom: 
                        </p>
                        {{ entry.symptom }}
                        <br><br>
                        <p class="lead">
                        Rating: 
                        </p>
                        {{ entry.rating }}
                    </li>
                    <br>
                </a>
                {% endfor %}
            </ul>
     


            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Your History Grid Items-->
            <div class="row justify-content-center">
                <!-- Your History Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="your-history-item mx-auto" data-bs-toggle="modal" data-bs-target="#yourHistoryModal1">
                        <div class="your-history-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="your-history-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="static/assets/img/portfolio/cabin.png" alt="..." />
                    </div>
                </div>
                <!-- Your History Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="your-history-item mx-auto" data-bs-toggle="modal" data-bs-target="#yourHistoryModal2">
                        <div class="your-history-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="your-history-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="static/assets/img/portfolio/cake.png" alt="..." />
                    </div>
                </div>
                <!-- Your History Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="your-history-item mx-auto" data-bs-toggle="modal" data-bs-target="#yourHistoryModal3">
                        <div class="your-history-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="your-history-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="static/assets/img/portfolio/circus.png" alt="..." />
                    </div>
                </div>
                <!-- Your History Item 4-->
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="your-history-item mx-auto" data-bs-toggle="modal" data-bs-target="#yourHistoryModal4">
                        <div class="your-history-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="your-history-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="static/assets/img/portfolio/game.png" alt="..." />
                    </div>
                </div>
                <!-- Your History Item 5-->
                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                    <div class="your-history-item mx-auto" data-bs-toggle="modal" data-bs-target="#yourHistoryModal5">
                        <div class="your-history-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="your-history-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="static/assets/img/portfolio/safe.png" alt="..." />
                    </div>
                </div>
                <!-- Your History Item 6-->
                <div class="col-md-6 col-lg-4">
                    <div class="your-history-item mx-auto" data-bs-toggle="modal" data-bs-target="#yourHistoryModal6">
                        <div class="your-history-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="your-history-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="static/assets/img/portfolio/submarine.png" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Your History Modals-->
    <!-- Your History Modal 1-->
    <div class="your-history-modal modal fade" id="yourHistoryModal1" tabindex="-1" aria-labelledby="yourHistoryModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Your History Modal - Title-->
                                <h2 class="your-history-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Your History Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/cabin.png" alt="..." />
                                <!-- Your History Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Your History Modal 2-->
    <div class="your-history-modal modal fade" id="yourHistoryModal2" tabindex="-1" aria-labelledby="yourHistoryModal2" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Your History Modal - Title-->
                                <h2 class="your-history-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Your History Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/cake.png" alt="..." />
                                <!-- Your History Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Your History Modal 3-->
    <div class="your-history-modal modal fade" id="yourHistoryModal3" tabindex="-1" aria-labelledby="yourHistoryModal3" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Your History Modal - Title-->
                                <h2 class="your-history-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Your History Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/circus.png" alt="..." />
                                <!-- Your History Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Your History Modal 4-->
    <div class="your-history-modal modal fade" id="yourHistoryModal4" tabindex="-1" aria-labelledby="yourHistoryModal4" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Your History Modal - Title-->
                                <h2 class="your-history-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Your History Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/game.png" alt="..." />
                                <!-- Your History Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Your History Modal 5-->
    <div class="your-history-modal modal fade" id="yourHistoryModal5" tabindex="-1" aria-labelledby="yourHistoryModal5" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Your History Modal - Title-->
                                <h2 class="your-history-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Your History Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/safe.png" alt="..." />
                                <!-- Your History Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Your History Modal 6-->
    <div class="your-history-modal modal fade" id="yourHistoryModal6" tabindex="-1" aria-labelledby="yourHistoryModal6" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Your History Modal - Title-->
                                <h2 class="yourHistory-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Your History Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/submarine.png" alt="..." />
                                <!-- Your History Modal - Text-->
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}