{% extends 'index.html' %}

{% block masthead %}
{% endblock %}

{% block daily_entires %}
{% endblock %}

{% block title %}
    <h1>Index</h1>
    <h1>Hello World!</h1>
    <h2>Welcome to FlaskApp!</h2>
    <h3>{{ utc_dt }}</h3>
{% endblock %}

{% block your_history %}
<!-- Your History Section-->
    <br><br>
    <section class="page-section your-history" id="your-history">
        <div class="container">
            <!-- Your History Section Heading-->
            
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Your History</h2><br><br>

            <ul class="list-group t20">
                    
                {% for entry in entries %}
                
                    <li class="list-group-item ">
                        <div id="myDIV">
                        <h4 class="text-uppercase mb-4">{{ entry.date }}</h4>
                    </div>
                        <p class="lead">
                        Starting time of symptom: 
                        </p>
                    
                        {{ entry.time }}
                        <br><br>
                        <p class="lead">
                        Symptom: 
                        </p>
                        {{ entry.symptom }}
                        <br><br>
                        <p class="lead">
                        Rating: 
                        </p>
                        {{ entry.rating }}<br><br>
                        
                        <button onclick="myFunction()" type="button" class="btn btn-primary btn-sm">Highlight</button>
                    </li>
                <script>
                    function myFunction() {
                      document.getElementById("myDIV").style.backgroundColor = "Thistle";
                    }
                    </script>
                    
                    <!-- <button onclick="myFunction()" type="button" class="btn btn-dark">Light</button> -->
                    <br>
                </a>
                
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}